<% title = 'Help - Crowd Events' %>
<div class="help-container">
    <h1>Help Page</h1>
    <p>This is a help page template. Content will be added soon.</p>
    <p><a href="/">â† Back to Home</a></p>
</div>
