<% title = 'Page - Crowd Events' %>
<div class="page-container">
    <h1>Page Template</h1>
    <p>This is a template page. Content will be added soon.</p>
    <p><a href="/">â† Back to Home</a></p>
</div>
